parameters:
	scanFiles:
		- /Users/joshkennedy/.config/php-stubs/wp-stubs.php
		- stubs
		- /Users/joshkennedy/work/jp/wp-config.php

	level: 6

	paths:
		- /Users/joshkennedy/work/jp/wp-content/plugins/vimeo-transcript-search/src/
		- vimeo-transcript-search.php
